<!doctype html>
<html lang="en" ng-app="simpylApp">
<head>
  <meta charset="utf-8">
  <title>simpyl!</title>
  <link rel="stylesheet" href="site/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="site/assets/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="site/assets/css/jumbotron-narrow.css">

  <script src="site/assets/js/jquery-1.11.0.min.js"></script>
  <script src="site/assets/js/bootstrap.min.js"></script>
  <script src="site/assets/js/angular.min.js"></script>
  <script src="site/assets/js/controllers.js"></script>
</head>

<body ng-controller="NewRunCtrl">

  <!-- Modals for setting up proc_init arguments -->

  <div class="modal fade" id="procModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Set arguments for {{ selected_proc_init.proc_name }}</h4>
        </div>
        <div class="modal-body">
          <div ng-repeat="arg in selected_proc_init.arguments">
            <p>{{ arg.name }}</p>
            <input class="add-input" placeholder="{{arg.value}}" type="text"
                   ng-model=selected_proc_init.arguments[$index].value />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click=addProc() type="button" class="btn btn-primary" data-dismiss="modal">Add Procedure</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="envModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create New Environment</h4>
        </div>
        <div class="modal-body">
          <input class="add-input" placeholder="" type="text" ng-model="run_init.environment_name" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button ng-click=addEnv() type="button" class="btn btn-primary" data-dismiss="modal">New Environment</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="header">
      <!-- <ul class="nav nav-pills pull-right"> -->
      <!-- <a class="btn btn-success pull-right" href="#" role="button">Start New Run</a> -->
      <h3 class="text-muted pull-right">
        <button ng-click=postRun() class="btn btn-success pull-right">Start Run</button>
      </h3>
      <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/runs">View Runs</a></li>
        <li class="active"><a href="#">New Run</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <h2>Add Procedure</h2>
        <select ng-model="selected_proc_init" ng-options="p.proc_name for p in avail_proc_inits"></select>
        <button class="btn btn-primary" data-toggle="modal" data-target="#procModal">add</button>
      
        <h2>Environment</h2>
        <select ng-model="run_init.environment_name" ng-options="env for env in envs"></select>
        <button class="btn btn-primary" data-toggle="modal" data-target="#envModal">new</button>
      </div>

      <div class="col-lg-9">
        <h2>Description</h2>
        <textarea ng-model="run_init.description" rows="3"></textarea>
      </div>

    <div class="row">
      <div class="col-lg-9 col-lg-offset-3">
        <table class="table">
          <thead>
            <tr>
              <th>Run Order</th>
              <th>Procedure Name</th>
              <th>Arguments</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="p in run_init.proc_inits track by $index">
              <td>{{p.run_order}}</td>
              <td>{{p.proc_name}}</td>
              <td>{{p.arguments_str}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div> <!-- /container -->

</body>
</html>
