<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>simpyl!</title>
  <link rel="stylesheet" href="sitedev/assets/css/bootstrap.min.css">
  <script src="sitedev/assets/js/jquery.min.js"></script>
  <script src="sitedev/assets/js/bootstrap.min.js"></script>
  <script src="sitedev/assets/js/vue.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Simpyl</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">View Runs</a>
        </li>
      </ul>
      <a class="btn btn-outline-info my-2 my-sm-0" href="/newrun">New Run</a>
    </div>
  </nav>

  <main role="main" class="container-fluid">
    <div class="row my-3">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="jumbotron text-center">
          <h1 class="display-4">Previous Runs</h1>
        </div>
        <table id="vue_runs" class="table table-sm table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              <th style="white-space:nowrap">Run ID</th>
              <th style="white-space:nowrap">Start Time</th>
              <th style="white-space:nowrap">Stop Time</th>
              <th style="white-space:nowrap">Description</th>
              <th style="white-space:nowrap">Results</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="run in run_results" :key="run.id">
              <td><a v-bind:href="'/rundetail?runid='+run.id">Run:{{run.id}}</a></td>
              <td style="white-space:nowrap">{{run.timestamp_start}}</td>
              <td style="white-space:nowrap">{{run.timestamp_stop}}</td>
              <td>{{run.description}}</td>
              <td>
                <div v-for="pr in run.proc_results" class="card bg-light mb-3">
                  <div class="card-header">{{pr.proc_name}}</div>
                  <div class="card-body">
                    <pre class="card-text" style="white-space: pre-line">
                      {{pr.result}}
                    </pre>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </main>
</body>

<script src="sitedev/runs.js"></script>
</html>
