<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>simpyl!</title>
  <link rel="stylesheet" href="site/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="site/assets/css/custom.css">
  <script src="site/assets/js/vue.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="/">Simpyl</a>
  </nav>

  <main role="main" class="container-fluid">
    <div class="row">
      <div class="col-2 navbar-light bg-light fullheight">
        <nav class="navbar navbar-light bg-light">
          <ul class="nav navbar-nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">View Runs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newrun">New Run</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-10">
        <div class="row my-3">
          <div class="col-12">
            <div class="jumbotron text-center">
              <h1 class="display-4">Previous Runs</h1>
            </div>
            <table id="vue_runs" class="table table-sm table-bordered table-hover table-responsive-lg">
              <thead class="thead-dark">
                <tr>
                  <th style="white-space:nowrap">Run ID</th>
                  <th style="white-space:nowrap">Start Time</th>
                  <th style="white-space:nowrap">Stop Time</th>
                  <th style="white-space:nowrap">Description</th>
                  <th style="white-space:nowrap">Results</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="run in run_results" :key="run.id">
                  <td><a v-bind:href="'/rundetail?runid='+run.id">Run:{{run.id}}</a></td>
                  <td style="white-space:nowrap">{{run.timestamp_start}}</td>
                  <td style="white-space:nowrap">{{run.timestamp_stop}}</td>
                  <td>{{run.description}}</td>
                  <td>
                    <div v-for="pr in run.proc_results" class="card bg-light mb-3">
                      <div class="card-header">{{pr.proc_name}}</div>
                      <div class="card-body">
                        <pre class="card-text" style="white-space: pre-line">
                          {{pr.result}}
                        </pre>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </main>
</body>

<script src="site/runs.js"></script>
</html>
